.propertyList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.propertyListItem{
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    
    
}
.propertyListImg{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.propertyListHotels>h1{
    font-size: 18px;
}
.propertyListHotels>h2{
    font-size: 14px;
    font-weight: 300;
    
}