.mail{
    width: 100%;
    margin-top: 50px;
    background-color: #003580;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 20px;
    padding: 50px;
}
.mailInputContainer>input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    outline: none;
    margin-right: 10px;
    border-radius: 5px;
    
}
.mailInputContainer>button{
   height: 50px;
   color: white;
   background-color: #0071c2;
   font-weight: 500;
   border: none;
   border-radius: 5px;
   cursor: pointer;

}