.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;

}
.listSearch{
    flex: 1;
    background-color: #febb02;
    border-radius: 10px;
    padding:10px;
    position: sticky;
    top: 10px;
    height: max-content;

}
.listSearchTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}
.listSearchItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.listSearchItem>label{
    font-size: 13px;
}
.listSearchItem>input{
    height: 30px;
    border: none;
    padding: 5px;
}
.listSearchItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.listSearchOptions{
    padding: 8px;
}
.listSearchOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.listSearchOptionInput{
    width: 20%;
    padding: 5px;
}
.lSearchOptionItemButton{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 800;
    
}
.listResult{
    flex: 3;
    
}