.footer{
    width: 100%;
    max-width: 1024px;
}
.footerLists{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    
}
.footerList{
   list-style: none;
   padding: 0;
}
.footerListItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
    
}
.footerText{
    text-align: center;
    font-weight: 300;

}