.feature{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}
.featureItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
   flex: 1;
}
.featureImg{
    width: 100%;
    height: 250px;       
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
}
.featureTitle{
    position: absolute;
    top: 145px;
}
.featureTitle h1 {
  margin-bottom: 4px; 
  margin-left: 20px;
}

.featureTitle h2 {
  margin-top: 0;
  margin-left: 20px; 
  font-weight: 600;
}
