.header{
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: center;
     position: relative;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;   
}
.headerContainer.listMode {
   margin: 20px 0px 0px 0px;
}
.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
  
}
.headerListItems{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.headerListItems.active{
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}
.headerDes{
    margin: 20px 0px;
    
}
.headerTitle{
font-weight: 500;
}
.headerButton{
    background-color: #0071c2;
    color: white;
    padding: 10px 12px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    

}
.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.headerIcon{
    color: lightgrey;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerSearchInput{
    outline: none;
    border: none;
}
.headerSearchText{
    color: grey;
    cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;
}
.options{
    position: absolute;
    top: 55px;
    background-color: white;
    color: grey;
    border-radius: 5px;

}
.optionItem{
    width: 200px;
    gap: 10px;
}
.optionCounterButton{
    width: 20px;
    height: 20px;
    border: 1px solid #0071c2;
    color: #0071c2;
    background-color: white;
    cursor: pointer;

}
.optionCounterButton:disabled{
    cursor: not-allowed;
}

